@import "./assets/home.css";
@import "./assets/offer-page.css";
@import "./assets/header.css";
a {
  text-decoration: none;
  color: inherit;
  /* all: initial; */
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
  line-height: 40px;
}
