.container {
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
  line-height: 40px;
}
.top {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serch {
  width: 630px;
}
.serch input {
  width: 100%;
}
.acount {
  display: flex;
  gap: 15px;
}
.home-hero {
  height: 460px;
  background-image: url(https://lereacteur-vinted.netlify.app/static/media/hero.2c66d85a1335550c4518.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.home-in-hero {
  width: 410px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  position: absolute;
  top: 80px;
}
.home-in-hero button {
  background-color: #2baeb7;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  height: 45px;
  width: 190px;
  margin: 32px 0 0;
  padding: 0 14px;
}

.offer-container {
  /* border: solid rebeccapurple; */
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.home-offer {
  display: flex;
  flex-direction: column;
  /* border: solid gold; */
  width: calc((100% - 50px) / 5);
}
.home-avatar-pic {
  margin: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 45px;
}
.home-avatar-pic img {
  border-radius: 55%;
  height: 100%;
  object-fit: cover;
}
.home-offer-pic {
  /* border: solid green; */
  height: 360px;
  width: 240px;
}
.home-offer-pic img {
  width: 100%;
  height: 100%;
}
