@import "./assets/home.css";

a {
  text-decoration: none;
  color: inherit;
  /* all: initial; */
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
  line-height: 40px;
}
.top {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serch {
  width: 630px;
}
.serch input {
  width: 100%;
}
.acount {
  display: flex;
  gap: 15px;
}
